body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bg-image {
  background-image: url("assets/contactsback.jpg");
  filter: blur(6px);
  -webkit-filter: blur(6px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #70a1d078;
  width: 55%;
  text-align: left;
  color: #0a0a0ab3;
  margin-top: 3px;
  margin-bottom: 3px;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
  .mainContact{
    top: 10%;
    left: 50%;
    background-color: #bbb9b9;
    padding: 20px;
  }
  .upContacts input{
    padding: 10px;
    font-size: 17px;
    border: 2px solid #1319196e;
    width: 80%;
    background: #f1f1f1a1;
    margin-bottom: 3px;
    color: #1d3a36e3;
    border-radius: 15px;
  }
  .upContacts input:focus{
    outline: none;
  }
  a{
    color: #0049b5;
    text-decoration: underline;
  }
  @media only screen and (max-width: 729px){
    .bg-content{
      width: 80%;
    }
    .chip{
      height: 50px;
      width: 100%;
      font-size:13px;
      padding: 0 20px;
    }
  }
  .contactsList{
    height:250px;
    overflow: auto;
    border-top: 4px solid #153c359c;
    background-color: #ffffff9c;
    margin-top: 0.5cm;
    padding-top: 2px;
    padding-bottom: 3px;
  }
